API_PORT=3000

MYSQL_USER=root
MYSQL_PASSWORD=secret
MYSQL_DATABASE=app_bot
MYSQL_DATABASE_PORT=3306
MYSQL_DATABASE_HOST=database
MYSQL_MIGRATIONS_DIR=src/migrations
MYSQL_ENTITIES=dist/**/*entity.js
MYSQL_MIGRATIONS=dist/migrations/*.js

MAIL_HOST=smtp.googlemail.com
MAIL_PORT=465
MAIL_USERNAME=school.construct@gmail.com
MAIL_PASSWORD=rcjutaedjigfihwe